.sejarah-section {
  margin-top: 120px !important;

  @include media-breakpoint-down(md) {
    padding-top: 90px !important;
  }

  .nav-tabs {
    border: none;
  }

  .nav-item {
    border: none;
    border-color: unset;

    .nav-link {
      border: none;
      margin-right: 55px;
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 32px;
      line-height: 35px;
      color: #747171;

      @include media-breakpoint-down(md) {
        margin-right: 28px;
        font-size: 20px;
      }

      &.active {
        border-bottom: 3px solid #1d3557;
        color: #1d3557;
      }
    }
  }

  p {
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
  }
}
